/* Container */
.login-container {
    /* max-width: 1300px;
    margin: auto; */
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #e9e9e9;
}

/* Left Section */
.login-left {
    flex: 1;
    max-width: 500px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: white;
}

.login-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.logo-img {
    width: 150px;
    cursor: pointer;
}

.logo-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    color: #000;
    margin: 0;
}

/* .login-content {
    margin-top: 3rem;
} */

.login-content h5 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.login-content p {
    font-weight: 400;
    font-size: 1rem;
    color: #8692a6;
    margin: 0;
    /* margin-top: 0.5rem; */
}

.login-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 0.5rem; */
    color: #696F79;
}

.input-group input {
    height: 52px;
    padding: 0 0rem 0 1rem;
    border: 1px solid #0000004D;
    border-radius: 8px !important;
    font-size: 1rem;
    outline: none;
}

.input-group select {
    height: 52px;
    padding: 0 0rem 0 1rem;
    border: 1px solid #0000004D;
    border-radius: 8px !important;
    font-size: 1rem;
    outline: none;
}

.password-container {
    position: relative;
    border: 1px solid red;
    height: 52px;
    padding: 0 0rem 0 1rem;
    border: 1px solid #0000004D;
    border-radius: 8px !important;
    font-size: 1rem;
    outline: none;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 80%;
    height: auto;
    border-radius: 0;
    padding: 0;
    border: none;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}

.forgot-password {
    font-size: 0.9rem;
    color: #696f79;
    text-align: left;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    height: 50px;
    border: none;
    background-color: #2a2bf9;
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #1d1df5;
}

.register-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #696f79;
}

/* Right Section */
.login-right {
    flex: 1;
    /* display: flex;
    align-items: center;
    justify-content: right; */
    text-align: right;
}

.right-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

.otp-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-input {
    width: 40px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.otp-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 1rem;
    }

    .login-left {
        max-width: 100%;
    }

    .login-content {
        margin-left: 0;
    }

    .login-right {
        margin-top: 2rem;
        width: 100%;
    }

    .right-img {
        max-width: 100%;
        height: auto;
    }
}